body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(0, minmax(80%, 1fr));
    margin: 1% 10%;
}

.container {
    background-color: #d4cccc;
    color: rgb(0, 178, 190);
    border-radius: 5px;
    transition: 0.8s;
    transition-timing-function: linear;
}

.container h3,
.container p {
    padding: 5px;
}

.container:hover {
    padding-left: 5px;
    width: calc(100% + 20px);
}